 .u-section-1 {
  background-image: url("images/wallpaperflare.com_wallpaper11.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 871px;
}

.u-section-1 .u-image-1 {
  width: 315px;
  height: 315px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 126px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -46px 243px 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -46px auto 60px 258px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-1 .u-image-1 {
    width: 281px;
    height: 281px;
    animation-duration: 2000ms;
    margin-top: 78px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 146px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 162px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: -19px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -45px;
    margin-left: -16px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-1 .u-image-1 {
    width: 268px;
    height: 267px;
    margin-top: 258px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 36px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 36px;
    margin-right: -24px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -46px;
    margin-left: -18px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1408px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px 284px 0 443px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: -7px 159px 0 192px;
}

.u-section-2 .u-group-1 {
  width: 366px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 378px;
  margin: 22px -19px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 29px 0;
}

.u-section-2 .u-text-3 {
  margin: 0 0 0 47px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  margin: -28px 14px 0 47px;
}

.u-section-2 .u-group-2 {
  width: 366px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 378px;
  margin: -376px auto 0 -25px;
}

.u-section-2 .u-container-layout-2 {
  padding: 29px 0;
}

.u-section-2 .u-text-5 {
  margin: 0 0 0 47px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: -21px 11px 0 37px;
}

.u-section-2 .u-group-3 {
  width: 382px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 382px;
  background-image: none;
  margin: -378px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 29px 0;
}

.u-section-2 .u-text-7 {
  margin: 0 0 0 47px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 0 0 37px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 3rem;
  margin: 127px auto 0;
}

.u-section-2 .u-image-1 {
  width: 174px;
  height: 174px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/a_5db88b0be0c5b9c248dd6bfda0b7a6db.gif");
  background-position: 50% 50%;
  margin: 69px auto 0;
}

.u-section-2 .u-image-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/8988456_max.jpg");
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-image-3 {
  width: 174px;
  height: 174px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/8988456_max-12.jpg");
  background-position: 50% 50%;
  margin: -172px auto 0 155px;
}

.u-section-2 .u-image-4 {
  width: 174px;
  height: 174px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/ede2d8a4fb8c94ef39ae3381fad1859b.png");
  background-position: 50% 50%;
  margin: -174px 173px 0 auto;
}

.u-section-2 .u-text-10 {
  font-size: 1.875rem;
  margin: 27px auto 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.875rem;
  margin: -48px auto 0 157px;
}

.u-section-2 .u-text-12 {
  font-size: 1.875rem;
  margin: -48px 159px 0 auto;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px 173px 0 auto;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -38px auto 0;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -38px auto 0 155px;
}

.u-section-2 .u-text-16 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 192px auto 0;
}

.u-section-2 .u-image-5 {
  width: 73px;
  height: 73px;
  margin: -50px auto 22px 368px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1749px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 184px;
    margin-left: 343px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 59px;
    margin-left: 92px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 13px;
  }

  .u-section-2 .u-group-3 {
    margin-top: -18px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 59px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 87px;
    margin-left: 372px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -192px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 18px;
    margin-left: 60px;
  }

  .u-section-2 .u-image-4 {
    margin-right: auto;
    margin-left: 689px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: -59px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: -37px;
    margin-right: auto;
    margin-left: 689px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 689px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-left: 67px;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-top: 214px;
    margin-right: 325px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -70px;
    margin-bottom: 60px;
    margin-left: 295px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 74px;
    margin-left: 233px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-2 .u-image-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-4 {
    margin-left: 546px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 528px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 528px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 249px;
  }

  .u-section-2 .u-image-5 {
    margin-bottom: 57px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 127px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 100px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 346px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 40px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 346px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 165px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 20px;
    margin-left: 47px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 376px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 376px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 97px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 47px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 187px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1885px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-group-3 {
    min-height: 340px;
    margin-top: 4px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-7 {
    margin-left: 5px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 37px;
    margin-left: -26px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 120px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 14px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 120px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 39px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 21px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 203px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 203px;
  }

  .u-section-2 .u-text-14 {
    font-size: 1.25rem;
    margin-left: -4px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 21px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 118px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -89px;
    margin-bottom: 60px;
    margin-left: 267px;
  }
}